@charset "UTF-8";

.over-section {
    height: 70vh;
    overflow: auto;
}

.main-content {
    background-image: none;
}

.main-content__title {
    color: #555;
    background-color: #CCC;
}

.over-section {
    margin: 15px 15px 32px;
}

.over-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-date {
    font-size: 20px;
    color: #888;
    text-decoration: none;
}

.over-date__title {
    font-size: 20px;
    margin: 15px;
}

.next-date {
    font-size: 20px;
    color: #888;
    text-decoration: none;
}

.last-date:hover,
.next-date:hover {
    cursor: pointer;
}

.over-table {
    margin: 0 auto;
}

.table-title {
    padding: 15px;
    border: 1px solid #888;
    background-color: #AAA;
    color: #FFF;
}

.table-title:nth-of-type(1) {
    width: 10%;
}

.table-title:nth-of-type(2) {
    width: 10%;
}

.table-title:nth-of-type(3) {
    width: 60%;
}

.table-title:nth-of-type(4) {
    width: 20%;
}

.table-content {
    padding: 15px;
    border: 1px solid #888;
}

.table-content:nth-of-type(1),
.table-content:nth-of-type(2) {
    text-align: center;
}