@charset "UTF-8";

.main-content {
    background-image: none;
}

.main-content__title {
    color: #555;
    background-color: #CCC;
}

.create-section {
    padding: 50px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.create-item__title {
    display: block;
    margin-bottom: 15px;
}

.create-item__input {
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    border: 1px solid #888;
    box-shadow: 0 0 2px 1px #888;
}

.create-item__textarea {
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    border: 1px solid #888;
    box-shadow: 0 0 2px 1px #888;
}

.create-item__error {
    min-height: 32px;
    color: #FF5555;
}

.create-button {
    display: block;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #289ADC;
    background-color: #289ADC;
    border: none;
    padding: 5px;
    color: #FFF;
}

.create-button:hover {
    cursor: pointer;
    opacity: .7;
}