@charset "UTF-8";

.list-section {
    height: 70vh;
    overflow: auto;
}

.main-content {
    background-image: none;
}

.main-content__title {
    color: #555;
    background-color: #CCC;
}

.list-section {
    margin: 15px 15px 32px;
}

.list-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-date {
    font-size: 20px;
    color: #888;
    text-decoration: none;
}

.list-date__title {
    font-size: 20px;
    margin: 15px;
}

.next-date {
    font-size: 20px;
    color: #888;
    text-decoration: none;
}

.last-date:hover,
.next-date:hover {
    cursor: pointer;
}

.list-table {
    margin: 0 auto;
    width: 450px;
}

.table-title {
    padding: 15px;
    border: 1px solid #888;
    background-color: #AAA;
    color: #FFF;
}

.table-title:nth-of-type(1) {
    width: 20%;
}

.table-title:nth-of-type(2) {
    width: 60%;
}

.table-title:nth-of-type(3) {
    width: 20%;
}

.table-content {
    padding: 15px;
    border: 1px solid #888;
}

.table-content:nth-of-type(1),
.table-content:nth-of-type(3) {
    text-align: center;
}

.table-content__link {
    display: block;
    width: 120px;
    height: 30px;
    line-height: 28px;
    border-radius: 3px;
    background-color: #289ADC;
    box-shadow: 0 0 2px 1px #289ADC;
    color: #FFF;
    text-decoration: none;
}

.table-content__link:hover {
    opacity: .7;
}